---
import Layout from '../layouts/Layout.astro';
import '../styles/site-style.css';
---

<Layout title="About Me!">
    <main>
        <nav>
            <ul role="list" class="navbar">
                <a href="..">Home</a>
                <a href="../projects/index.html">Projects</a>
                <a>About Me</a>
                <a href="../links/index.html">Links</a>
            </ul>
        </nav>

        <h1><span class="text-gradient">About</span> Me</h1>

        <p>Hello there!</p>
        <p>My name is Oli, and I'm a Computer Science student at the University of Nottingham.</p>
        <p>If I've finished a cool project - whether it be a hackathon entry, or just something I thought was cool at the time - you'll be able to find it here!</p>
        
    </main>
    
</Layout>

