---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/site-style.css';
---

<Layout title="About Me!">
    <main>
        <nav>
            <ul role="list" class="navbar">
                <a href="..">Home</a>
                <a>Projects</a>
                <a href="../about/index.html">About Me</a>
                <a href="../links/index.html">Links</a>
            </ul>
        </nav>

        
    </main>
</Layout>