---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/site-style.css';
---




<Layout title="Projects">
	<nav></nav>
	<main>
		<nav>
			<ul role="list" class="navbar">
				<a href="..">Home</a>
				<a>Projects</a>
				<a href="../about/index.html">About Me</a>
				<a href="../links/index.html">Links</a>
			</ul>
		</nav>

		<h1>My <span class="text-gradient">Projects</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href=""
				title="Coming Soon..."
				body=""
			/>			
		</ul>
	</main>
</Layout>
