---
import Layout from '../layouts/Html_Layout.astro';
import Card from '../components/Card.astro';
import '../styles/site-style.css';
---

<Layout title="Projects">
	<main>
		<nav>
			<ul role="list" class="navbar">
				<a href="..">Home</a>
				<a>Projects</a>
				<a href="../about/index.html">About Me</a>
				<a href="../links/index.html">Links</a>
			</ul>
		</nav>

		<h1>My <span class="text-gradient">Projects</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="../project_posts/website/index.html"
				title="This website"
				body="Learn more about how this website was built!"
			/>
			<Card
				href="../project_posts/hacknotts_84/index.html"
				title="Massive Machine Retro Revelry"
				body="Learn about my team's HackNotts '84 project!"
			/>	
			<Card
				href="../project_posts/hackaway_v7/index.html"
				title="Mansion Escape"
				body="Learn more about my team's Hackaway v7 project!"
			/>	
			<Card
				href="../project_posts/hacktheburgh_x/index.html"
				title="HouseLink"
				body="Learn more about my team's HackTheBurgh X project!"
			/>	
			<Card
				href="../project_posts/hackathons_info_bot/index.html"
				title="Hackathons Info Bot"
				body="Learn more about how my hackathons discord bot was built!"
			/>	
		</ul>
	</main>
</Layout>
